* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 85%;
  width: 100%;
  background-color: #111;
  display: flex;
  padding: 5vw 10vw;
}

#left {
  height: 100%;
  width: 45%;
  padding: 0 3vw;
}
#images {
  height: 80%;
  font-weight: 100%;
  margin-top: 30px;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

#left i {
  font-size: 30px;
  color: rgb(222, 119, 114);
  display: block;
  margin-top: 10px;
}

#left h3 {
  font-size: 40px;
  color: white;
}

#right {
  height: 100%;
  width: 55%;
  padding: 0 3vw;
}
#right h3 {
  font-size: 40px;
  color: white;
}

#all-songs {
  height: 80%;
  margin-top: 30px;
  overflow-y: scroll;
}

#all-songs::-webkit-scrollbar {
  display: none;
}

.song-card {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #5a5a5a;
  padding: 18px 15px;
}
.song-card:hover {
  background-color: #1e1e1e;
}
#all-songs:nth-last-child(1) {
  border-bottom: 1px solid #5a5a5a;
}
.song-card .part1 {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.song-card img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.song-card h2 {
  font-size: 22px;
  font-weight: 600;
}
.song-card h6 {
  font-weight: 500;
  font-size: 16px;
}

#player {
  height: 15%;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#player h3 {
  background-color: rgba(151, 149, 149, 0.737);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#player h3 i {
  font-size: 28px;
}

#player h3:active {
  scale: 0.93;
}
